@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&family=Concert+One&family=Open+Sans&family=Permanent+Marker&family=Press+Start+2P&family=Shizuru&display=swap");

* {
  text-decoration: none;
  color: aliceblue;
  font-family: "Bungee", cursive;
  align-items: center;
}
